appnope==0.1.0
avro==1.7.7
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
cwl-runner==1.0
cwltool==1.0.20151112194920
decorator==4.0.4
docker-py==1.5.0
functools32==3.2.3.post2
gnureadline==6.3.3
html5lib==0.9999999
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
isodate==0.5.4
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
keepalive==0.4.1
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.6
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
Pygments==2.0.2
pyparsing==2.0.6
PyYAML==3.11
pyzmq==15.0.0
rdflib==4.2.1
rdflib-jsonld==0.3
requests==2.8.1
schema-salad==1.0.5
shellescape==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SPARQLWrapper==1.7.4
terminado==0.5
tornado==4.3
traitlets==4.0.0
websocket-client==0.34.0
